.main {
    margin-top: 124px;
    flex: 1 1 auto;
}

.headerContainer {
    max-width: 500px;
    padding-left: 4.0rem;
    padding-right: 4.0rem;
    padding-top: 4.8rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.headerText {
    font-weight: 700;
    font-size: 2.8rem;
    padding-bottom: 4.8rem;
}

.contentHeaderText {
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
}

.contentText {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(16 / 19 * 100%);
    padding-bottom: 4.8rem;
    padding-right: .8rem;
    padding-left: .8rem;
    color: rgba(0,0,0,.58);
}